.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 0;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  transition: width 0.2s;
  position: relative;
}

.collapsed {
  width: var(--sidebar-collapsed-width);
}

.collapseButton {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}
